.footer {
  font-size: calc($index * 0.5);
  background-color: $bg-color;

  &__copyright{
    text-align: center;
    margin-top: 50px;
    color:$dark-text-color;

  }
  margin-bottom: 50px;
}
.contacts {
  justify-content: space-around;
  text-align: center;
  font-weight: 200;
  &__header {
    color: $accent-color2;
    text-transform: uppercase;
    font-weight: 900;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 25px;
  }

  &__list-item>a>img {
    width: 32px;
    height: 32px;
  }
}


.about-me {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  &__text {
      max-width: 768px;
      text-align: justify;
  }

  &__paragraph {
    > span {
      color:$accent-color2;
    }
  }

}
