.header {
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  bottom: calc($index * -6);
  z-index: 100;
  width: 100%;
  height: calc($index * 16);
  background-image: url(../img/stripe7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
