.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  will-change: transform;
  z-index: 2;
}

.layers__base {
  background-image: url(../img/annie-spratt-Tno1Zd3T6yY-unsplash.jpg);
  transform: translate3d(0, calc($scrollTop /1.6), 0);
  z-index: 0;
}

.layers__middle {
  // background-image: url(../img/layer-middle.png);
  transform: translate3d(0, calc($scrollTop /2.5), 0);
}

.layers__front {
  // background-image: url(../img/ground2.png);
  transform: translate3d(0, calc($scrollTop /5.8), 0);


}


