@media screen and (max-width: 768px) {
  .header {
    justify-content: flex-start;

    // padding: 0 50px;
    &__svg-container {
      margin-left: 20%;
      max-height: 300px;
      width: 100%;
    }



  }
}

@media screen and (max-width: 375px) {
  .header {
    flex-direction: column;
    // align-items: center;

    // margin-top: 50px;

    &__svg-container {
      max-height: 50%;
      order: -1
    }

    &__hashtags {
      font-size: calc($index * 1.3);
    }

  }
}
