.menu {
  z-index: 999;
  // font-family: raleway_black, serif;
  font-size: calc($index * 0.6);
  width: fit-content;
  position: fixed;
  display: flex;
  bottom: 50px;
  right: 50px;
  color: $text-color;
  &__list {
    text-transform: uppercase;

    font-weight: 900;
    list-style: none;
    display: flex;
    justify-content: end;
  }
     &__item {
       margin-right: 15px;
       a {
        text-decoration: none;
        color: rgba(255,255,255, .4);
          span {
            position: relative;
          }
          span:before {
            width: 0;
            color: $text-color;
            overflow: hidden;
            position: absolute;
            content: attr(data-text);
            transition: all .4s cubic-bezier(0.84, 0, 0.08, 0.99);
          }
       }
       span:hover:before {
        width: 100%;
       }
     }

}
