.stack-section {
  &__background-text {
      font-weight: 900;
        position: absolute;
        font-size: 25rem;
        opacity: .01;
        z-index: -1;
  }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width: 100%;
        margin:0 50px;
    }
    &__technology-list {
      list-style: none;
      gap: 20px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      letter-spacing: calc($index / 8);
      font-size: calc($index * 0.7);
    }

}


.stack-section__header {
  span {
    color: $accent-color2;
  }
}

.technology-list__category-list {
  list-style: none;
  color: $accent-color2;
  font-weight: 700;
  margin-bottom: 10px;
  > li {
    color: $text-color;
  }
}

