.stack-section {
  height: 100vh;
  padding-top: 50px;
  // display: flex;


  // flex-direction: column;
    &__container {
        // align-self: center;
        display: flex;
        align-items: center;
          justify-content: space-between;
        // width: 100%;
        margin:0 50px;
    }
    &__technology-list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      gap: 20px;
      letter-spacing: calc($index / 8);
      font-size: calc($index * 0.6);
    }
    &__logo {
      margin: 0 50px;
      // background-color: red;
      // background-image: url(../../img/css-3.svg);

      // border-radius: 5px;
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: contain;
      max-width: 300px;
      max-height: 300px;

    }

}


.stack-section__header {
  // margin: 40px 0 0 50px;
  text-transform: uppercase;
  margin: 0 0 50px 50px;
  z-index: 999;
  // width: 100%;
  span {
    color: $subtitles-alternate-color
  }
}

.technology-list__category-list {
  list-style: none;
  color: $subtitles-alternate-color;
  > li {
    color: $text-color;
  }
}
// .button {
//   width: 200px;
//   height: 30px;
//   border: 3px solid whitesmoke;
//   border-radius: 20px;
//   background: rgba(11, 11, 11, .3);;
//   color: white;
//   text-transform: uppercase;
//   font-weight: 900;

// }
