.stack-section {
  // background-color: grey;

  height: 100vh;
  background-size: cover;
  background-position: top;
  // margin-top: 150px;
  // background-image: url(../img/michele-purin.jpg);
  display: flex;
  // justify-content: space-between;

  flex-direction: column;
    &__container {
        // align-self: center;
        display: flex;
        justify-content: space-around;

    }
    &__technology-list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      gap: 20px;
      letter-spacing: calc($index / 8);
      font-size: calc($index);
    }
    &__logo {
      margin: 0 50px;
      // background-color: red;
      // background-image: url(../../img/css-3.svg);

      // border-radius: 5px;
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: contain;
      max-width: 300px;
      max-height: 300px;

    }

}


.stack-section__header {
  // margin: 40px 0 0 50px;
  text-transform: uppercase;
  margin:0 0 50px 50px;
  z-index: 999;
  span {
    color: $subtitles-color;
  }
}

.technology-list__category-list {
  list-style: none;
}
// .button {
//   width: 200px;
//   height: 30px;
//   border: 3px solid whitesmoke;
//   border-radius: 20px;
//   background: rgba(11, 11, 11, .3);;
//   color: white;
//   text-transform: uppercase;
//   font-weight: 900;

// }
