/* @font-face {
  font-family: raleway_f;
  src: url(../../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: raleway_black;
  src: url(../../fonts/raleway-black.woff2);
  font-weight: 900;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root {
  --index: calc(1.5vw + 1vh);
}

body {
  background-color: aliceblue;
  font-family: raleway_f, sans-serif;
  color: #000000
}
@import 'blocks/layer.css';
@import 'blocks/article.css';
@import 'blocks/header.css';
@import 'blocks/footer.css';

