div.about-me
  div.about-me__info-block
    h3.about-me__info-block-title Name:
    p.about-me__paragraph Dmitry
  div.about-me.info-block
    h3.about-me__info-block-title Age:
    p.about-me__paragraph 32 y.o.
  div.about-me.info-block
    h3.about-me__info-block-title About me:
    p.about-me__paragraph  bla bla bla bla
