footer.footer
  div.footer__about-me.about-me
    div.about-me__text
      p.about-me__paragraph My name is #[span Dmitry], and "I won't be a rockstar, I will be a legend" in #[span frontend dev]. I am passionate about frontend development because of the creative specifics and the possibility of self-expression.
      p.about-me__paragraph I love rock'n'roll, that's why I have a "Rocks hand" on my page. I live on the Black Sea cost and raise my little princess Sophia.
    div.about-me__contacts.contacts
      h4.contacts__header Contact me:
      ul.contacts__list
        li.contacts__list-item
          a(href='mitkaz7')
            img(src='../../img/telegram.svg' alt='telegram icon')
        li.contacts__list-item
          a(href='mailto:mitka.dev@gmail.com')
            img(src='../../img/google-gmail.svg' alt='mail icon')
  p.footer__copyright &copy; Mitka.Dev, 2024
  p
    a(href='https://github.com/MitkaZ7/para-quoter').footer__icon
