header.header

  div.header__layers

    div.header__titles
      h1.header__title Hi!
      p.header__subtitle I'm Mitka, #[span.header__subtitle-accent frontend] developer
    div.layer.layers__base
    div.layer.layers__middle
    div.layer.layers__front
  include menu
