header.header
  div.layers
    div.layer__header
      h1.layer__caption Welcome
      p.layers__title to parallax demo
    div.layer.layers__base
    div.layer.layers__middle
    div.layer.layers__front
