div.layers
  div.layer__header
    h1.layer__caption Welcome
    p.layers__title to parallax demo
  div.layer.layers__base
  div.layer.layers__middle
  div.layer.layers__front
//-  <div class="layers">
//-             <div class="layer__header">
//-                 <h1 class="layer__caption">Welcome</h1>
//-                 <p class="layers__title">and I must go</p>
//-             </div>
//-             <div class="layer layers__base" style="background-image: url(./img/picture.png);"></div>
//-             <div class="layer layers__middle" style="background-image: url(./img/middle.png);"></div>
//-             <div class="layer layers__front" style="background-image: url(./img/ground2.png);"></div>
//-         </div>
