nav.menu
  ul.menu__list
    li.menu__item
      a
        span(data-text='projects') projects
    li.menu__item
      a
        span(data-text='stack') stack
    li.menu__item
      a
        span(data-text='github') github
    li.menu__item
      a
        span(data-text='contacts') contacts
