nav.menu
  div.menu__background-text menu
  div.menu__exit-wrapper
    img(src='../../img/exit.svg' alt='cross icon')
  ul.menu__list
    li.menu__item
      a
        span(data-text='projects') Projects  #[span 01]
    li.menu__item
      a
        span(data-text='stack') Stack #[span 02]
    li.menu__item
      a
        span(data-text='github') Github #[span 03]
    li.menu__item
      a
        span(data-text='contacts') Contacts #[span 04]
  div.menu__info

