section.section.projects-section
  div.projects-section__header.section__header
    h2.projects-section__title My projects.
    p.projects-section__subtitle Self-educational, with own design.
  div.projects-section__container
    article.projects-section__project-card.project-card
      div.project-card__background-text Dashboard
      div.project-card__project-image-wrapper
          img(src='../../img/my-trello.jpg' alt='свой трелло').project-card__project-image
      div.project-card__project-definition
        h2.project-card__project-title My own Dashboard
        ul.project-card__project-features
          li React 18
          li Google firebase
          li authorization/registration
          li light/dark theme switch
          li i18n
          li Drag'n'drop
          li Sass
          li Gsap
          li Jest
        button.project-card__button-wrapper
          a(href='https://github.com/MitkaZ7/uptrader-dashboard' target='_blank').project-card__link
            div.project-card__button-decor
            span Go to website
            i &rarr;
    article.projects-section__project-card.project-card
      div.project-card__background-text My site
      div.project-card__project-image-wrapper
        img(src='../../img/hand-picture.svg' alt='my porrtfolio site').project-card__project-image
      div.project-card__project-definition
        h2.project-card__project-title My own site
        ul.project-card__project-features
          li Vanilla JS
          li Sass
          li Pug
          li Animation with GSAP
          li Gulp
        button.project-card__button-wrapper
          a(href='#' target='_blank').project-card__link
            div.project-card__button-decor
            span You are here
            i &rarr;
    article.projects-section__project-card.project-card
      div.project-card__background-text Telegram bot
      div.project-card__project-image-wrapper
        img(src='../../img/Samuel-Regan-asante.jpg' alt='dont trust robots sign').project-card__project-image
      div.project-card__project-definition
        h2.project-card__project-title Telegram bot
        ul.project-card__project-features
          li Node JS
          li Grammy JS
          li Express JS
          li Postgre SQL
        button.project-card__button-wrapper
          a(href='https://github.com/MitkaZ7/tgbot_informer_apro' target='_blank').project-card__link
            div.project-card__button-decor
            span Go to repo
            i &rarr;
    article.projects-section__project-card.project-card
      div.project-card__background-text Layout practice
      div.project-card__project-image-wrapper
        img(src='../../img/russian-travel.jpg' alt='russian travel site').project-card__project-image
      div.project-card__project-definition
        h2.project-card__project-title layout practice
        ul.project-card__project-features
          li HTMl 5
          li CSS 3
          li BEM
          li Flexbox
          li Grid CSS
          li Adaptive degisgn
        button.project-card__button-wrapper
          a(href='https://github.com/MitkaZ7/tgbot_informer_apro' target='_blank').project-card__link
            div.project-card__button-decor
            span Go to repo
            i &rarr;
    article.projects-section__project-card.project-card
      div.project-card__background-text Fullstack ToDo spa
      div.project-card__project-image-wrapper
        img(src='../../img/my-own-todo.jpg' alt='список задач на React/Redux').project-card__project-image
      div.project-card__project-definition
        h2.project-card__project-title Fullstack SPA
        ul.project-card__project-features
          li React 18
          li Redux toolkit
          li Express JS
          li BEM
          li Flexible  and own simple disign
          li authorization/registration
          li Registration with email confirmation
          li i18n
          li light/dark theme switch
          li decorative confetti elements
        button.project-card__button-wrapper
          a(href='https://github.com/MitkaZ7/my-own-todo-react' target='_blank').project-card__link
            div.project-card__button-decor
            span Go to site
            i &rarr;








