section.section.stack-section
  div.stack-section__header.section__header
    h2.stack-section__title  My stack & #[span skills]:
  div.stack-section__container
    div.stack-section__background-text STACK
    ul.stack-section__technology-list
      ul.technology-list__category-list Base:
        li.technology-list__item Javascript
        li.technology-list__item HTML5
        li.technology-list__item CSS3
        li.technology-list__item Sass
        li.technology-list__item NodeJS
      ul.technology-list__category-list Frameworks:
        li.technology-list__item React
        li.technology-list__item Vue
        li.technology-list__item Express
      ul.technology-list__category-list Databases:
        li.technology-list__item MongoDB
        li.technology-list__item PostgreSQL
      ul.technology-list__category-list State manegment:
        li.technology-list__item Redux
        li.technology-list__item Vuex
      ul.technology-list__category-list Bundlers:
        li.technology-list__item Webpack
        li.technology-list__item Gulp
        li.technology-list__item Rsbuild
      ul.technology-list__category-list libs:
        li.technology-list__item GSAP
        li.technology-list__item Three.js
        li.technology-list__item Axios
      ul.technology-list__category-list Tools:
        li.technology-list__item VS Code
        li.technology-list__item Figma
        Li.technology-list__item Scetch





    //- img(src='../../img/axios.svg').stack-section__logo
    //- div.stack-section__galery.galery
    //-   div.galery__left  LOREM IPS

    //-   div.stack-section__galery-right DODODODO


