section.section.stack-section
  h2.stack-section__header My stack & #[span skills]
  div.stack-section__container
    div.stack-section__galery.galery
      div.galery__left  LOREM IPS
        div.galery__logo
      div.stack-section__galery-right DODODODO


