div.switchers
  label
    input.switchers__theme-switcher
  label
    input.switchers__lang-switcher



//-  <div className="switcher">
//-       <label>
//-         <input
//-           className="switcher__checkbox"
//-           id="toggler"
//-           type="checkbox"
//-           onClick={hadleThemeChange}
//-           checked={theme === 'dark' ? true : false}
//-           readOnly
//-           // checked={true}
//-         />
//-         <span className="switcher__slider" />

//-     </label>
//-     </div>
