.main-article {
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  background-image: url(../img/prometheus-TAByrXQAibY-unsplash.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main-article__conent {}
