$green: #3d9a5fcc;
$text-color: #fafafa;
$browny: #b6532c;
$accent-color: #0FD944;
$bg-color: #252423;
$subtitles-color: #ff0000;
$subtitles-alternate-color:#0FD944;
$dark-text-color:  rgba(255, 255, 255, 0.4);
$accent-color2: #ff0000;
$pale-accent-color: #ff5656;
