$green: rgba(61, 154, 95, .8);
$text-color: #fafafa;
$browny: rgb(182, 83, 44);
$accent-color: #0FD944;
$bg-color: #252423;
$subtitles-color: hsl(0, 100%, 50%);
$subtitles-alternate-color:#0FD944;
$dark-text-color:  rgba(255, 255, 255, 0.4);
$accent-color2: hsl(0, 100%, 50%);
// $accent-color2: #F64E4D;
// $green: rgba(61, 154, 95, .8);
// $light: #fafafa;
// $browny: rgb(182, 83, 44);
// $accent-color: #FF7549;
// $bg-color: rgb(27, 26, 26);

