$index:  calc(1.5vw + 1vh);
$scrollTop: 0;

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
  font-weight: 700;
}

@font-face {
  font-family: raleway_black;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: Merriweather, serif;
  src: url(../fonts/raleway-regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: $light;
}

body {
  font-family: raleway_f, sans-serif;
}
@import './colors.scss';
@import 'blocks/layer.scss';
@import 'blocks/stack-section.scss';
@import 'blocks/header.scss';
@import 'blocks/menu.scss';
@import 'blocks/footer.scss';

